*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family:'Heebo', sans-serif ;
}
header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url("./moana_16spp_oidn.jpg");   
}
nav{
    width: 100%;
    height: 15vh;
    background-color: black;
    color: cornsilk;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo{
    width: 25%;
    text-align: center;
    /* background-color: crimson; */
}
nav .menue{
    width:40% ;
    
    display: flex;
    justify-content: space-around;
}
nav .menue a{
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav .menue a:first-child {
    color: #00b894; ;
}
main{
   width: 100%;
   height: 85vh;
   
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
   text-shadow: 1px 1px 2px black;
}
section{

}

section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
}
section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}
section p{
    font-size: 25px;
    color: #eee;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;

}
section a{
    
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ,ease;
    
}

section .btnone{
    background: white;
}
.btnone:hover{
    background: #00b894;
    color:white;

}
section .btntwo{
    background: #00b894;
}
.btntwo:hover{
    background: white;
}
.change_content:after{
    content: '';
    animation: changetext 10s infinite linear;
color: yellowgreen;
}
@keyframes changetext{
    0%{
        content: "Bihar";
    }
    20%{
        content: "Patana";
    }
    40%{
        content: "KothiBigha";
    }
    60%{
        content: "Rohtas";
    }
    80%{
        content: "dehri";
    }
    100%{
        content: "amjhore";
    }
    
}

